@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  box-sizing: border-box;
  margin: 0 auto;
}

html, body {
  height: 100%;
  background-color: #fafffa;
}

.header-container, .footer-container {
  max-width: 1400px;
}

/* FLEX-BOX */
.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-item {
  padding: 0;
  margin: 0;
}

/* HEADER */
header {
  height: 67px;
}

header img {
  height: 93%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav {
  display: inline-block;
}

/* logo */
.logo {
  position: relative;
  display: inline-block;
  background-color: #FFAC1E;
  align-items: center;
  height: 67px;
  width: 220px;
}

#text-logo {
  position: relative;
  left: -20px;
}

/* navigation */
.links {
  margin-right: 30px;
}
.links a {
  color: #000;
  font-family: 'Varela Round', sans-serif;;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 3px;
  padding-left: 30px;
  padding-right: 30px;
}

.links p {
  display: inline;
}

.links a:hover {
  color: #FFAC1E;
  border-bottom: 3px solid #FFAC1E;
}

/* HERO IMAGES AND TEXT */
.hero-container {
  height: calc(100vh - 142px);
}

.container {
  height: calc(100vh - 142px);
  max-width: 1400px;
}

div[class*="photo-frame"] {
  position: relative;
  width: 33.3%;
  max-width: 500px;
}

.photo-frame-one{
  margin-top: auto;
  top: 0.5%;
}

.photo-frame-two{
  margin-bottom: auto;
}

img[class*="hero-photo"] {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text{
  width: 33.3%;
  font-family: 'Varela Round', sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 1%;
}

.hero-text ul {
  margin-top: 10%;
  list-style: none;
  text-align: left;
}

.hero-text ul li {
  font-size: 1.2em;
}

.hero-text ul li p {
  display: inline-block;
  }

.fa-leaf, .fa-seedling {
  color: #1FC11F;
}

.fa-hammer, .fa-pen-to-square {
  color: #FFAC1E;
}

.hero-photo-one{
  border-width: 4px 4px 0 0;
  border-style: solid;
  border-color: #FFAC1E;
  border-radius: 20% 50% 10% 0;
}

.hero-photo-two{
  border-width: 0 0 4px 4px;
  border-style: solid;
  border-color: #FFAC1E;
  border-radius: 10% 0% 20% 50%;
}

/* FOOTER */

.footer-container {
  align-items: center;
  height: 67px;
}

.contact {
  margin-left: 30px;
}

footer span {
  margin-right: 20px;
  font-family: 'Varela Round', sans-serif;
}

.logo-footer {
  position: relative;
  display: inline-block;
  background-color: #FFAC1E;
  align-items: center;
  height: 67px;
  width: 220px;
}

footer img {
  height: 93%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact a {
  text-decoration: none;
}

.contact a:visited {
  color: #000;
}

/* UNDERLINES */
div[class*="underline"]{
  height: 4px;
  background-color: #FFAC1E;
}

.underline-top {
  margin-left: calc((100vw - 1400px) / 2);
}

.underline-bottom {
  margin-right: calc((100vw - 1400px) / 2);
}

/* MEDIA */
@media (max-width: 1400px) {

  .underline-top {
    margin-left: 0;
  }

  .underline-bottom {
    margin-right: 0;
  }
}
/* ABOUT US */

.lukasz {
  flex: 1;
  margin-left: 5%;
  margin-right: 2%;
  font-family: 'Varela Round', sans-serif;
}

.lukasz img, .ewa img {
  object-fit: cover;
  float: left;
  margin-top: 0%;
  margin-bottom: 2%;
  margin-left: 0%;
  margin-right: 4%;
  width: 200px;
  height: 200px;
  border-style: solid;
  border-color: #FFAC1E;
  border-radius: 15%;
}

.lukasz h3, .ewa h3 {
  margin-bottom: 2%;
  font-size: 2em;
}

.lukasz h5, .ewa h5 {
  margin-bottom: 2%;
  font-size: 1em;
  font-style: italic;
}

.lukasz p, .ewa p {
  margin-bottom: 2%;
  text-align: justify;
}

.lukasz .motto, .ewa .motoo {
  font-style: italic;
}

.ewa {
  flex: 1;
  margin-left: 2%;
  margin-right: 5%;
  font-family: 'Varela Round', sans-serif;
}

/* CONTACT FORM */

.contact-form {
  font-family: 'Varela Round', sans-serif;
}

.contact-form h1 {
  text-align: center;
  margin-bottom: 2%;
}

.contact-form p {
  text-align: center;
  line-height: 50px;
}

form{
  margin-top: 5%;
}

.label {
  display: block;
  font-size: 18px;
  line-height: 26px;
  margin-left: 0.5%;
}

.input-text {
  display: block;
  float: left;
  width: 50%;
  margin-right: 50%;
  margin-bottom: 2%;
  border-width: 0 0 2px 0;
  border-color: #FFAC1E;
  font-size: 18px;
  line-height: 26px;
}

.input-text:focus, textarea:focus {
  outline: none;
}

input, textarea {
  display: block;
}

textarea {
  width: 100%;
  border: solid #FFAC1E 2px;
  font-size: 18px;
  margin-top: 6%;
  resize: none;
  overflow: scroll;
}

.btn-send {
  float: right;
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
  width: 25%;
  padding: 10px;
  background-color: #fafffa;
  border: solid #FFAC1E 2px;
  border-top: 0px;
  transition: 0.5s cubic-bezier(.17,.84,.44,1);
}

.btn-send:hover {
  cursor: pointer;
  background-color: #FFAC1E;
}

.validation-info {
  position: relative;
  top: -10px;
  font-size: 12px;
  color: red;
  font-weight: bold;
}

.modal {
  position: absolute;
  text-align: center;
  z-index: 1;
  width: 40%;
  top: 30%;
  left: 0%;
  background-color: #fff;
  border: solid 4px #FFAC1E;
  margin-left: 30%;
  margin-right: 30%;
}

.modal h2 {
  margin-bottom: 2%;
}

.modal p {
  margin-bottom: 4%;
}

.fa-circle-xmark {
  cursor: pointer;
  font-size: 36px;
  color: #FFAC1E;
}

/* PRODUCT PAGE */

.product {
  font-size: 1em;
  font-family: 'Varela Round', sans-serif;
  transition: 1s;
}

.info-product {
  position: absolute;
  display: none;
  top: 12%;
  left: 0%;
  background-color: #fff;
  border: solid 4px #FFAC1E;
  margin-left: 25%;
  margin-right: 25%;
}

.info-modal {
  padding: 5%;
}

.fa-circle-info{
  cursor: pointer;
  bottom: 15%;
  left: calc(50% - 40px);
  position: absolute;
  visibility: visible;
  color: #FFAC1E;
  font-size: 5em;
}

.info-text {
  margin-bottom: 1%;
  text-align: justify;
}

.product img {
  object-fit: cover;
  margin-top: 0%;
  margin-bottom: 2%;
  width: 200px;
  height: 300px;
  border: solid #FFAC1E 4px;
  border-radius: 50px;
}

.product img:hover {
  cursor: zoom-in;
}

.img-right {
  float: right;
  margin-left: 4%;
  margin-right: 0%;
}

.img-left {
  float: left;
  margin-left: 0%;
  margin-right: 4%;
}

.header-right {
  text-align: right;
}

.palma {
  flex: 1;
  text-align: justify;
  margin-right: 2.5%;
  font-size: 1.2em;
}

.palma h3 {
  font-size: 1.5em;
  margin-bottom: 1.5%;
}

.kokos {
  flex: 1;
  text-align: justify;
  margin-left: 2.5%;
  font-size: 1.2em;
}

.kokos h3 {
  font-size: 1.5em;
  margin-bottom: 1.5%;
}

.flex-wrap {
  flex-wrap: wrap;
}

.big-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.gallery {
  border: solid black 4px;
  max-height: 600px;
  max-width: 600px;
  overflow: hidden;
  background-color: rgba(0,0,0,0.5);
}

.gallery img {
  max-height: 600px;
  max-width: 600px;
}

.gallery-menu {
  color: #FFAC1E;
}

/* SITE COVER AND ON / OFF ELEMENTS */

.display-none {
  display: none;
}

.disabled{
  pointer-events: none;
}

.opacity {
  opacity: 0.5;
  transition: 1s;
}

.site-cover {
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 1s cubic-bezier(.17,.84,.44,1);
}

.none {
  z-index: -1;
  opacity: 0;
}
